.status-bar {
    -fx-padding: 4px;
    -fx-pref-height: 30px;
    -fx-background-color: rgba(211, 211, 211, 0), -fx-body-color;
    -fx-background-insets: 0, 1
}


.jfx-tree-view, .tree-cell {
    /*不显示TreeView选中中的蓝色方框*/
    -fx-background-insets: 0;
    /*-fx-background-color: transparent;*/
    /*-fx-control-inner-background: transparent;*/
}

.tree-cell:expanded, .tree-cell {
    /*-fx-background-color: #404040 ;*/
}

.tree-cell:selected {
    /*TreeCell选中时,字体加粗*/
    -fx-font-weight: bold ;
}

.tree-cell {
    /*-fx-padding: 0.75em 0em 0.75em 0em ;*/
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 0.1em 0 0.1em;
}

.text-area {
    -fx-background-color:  white;
    -fx-border-style: none;
    -fx-font-family: Consolas;
    /*内边距,SQL与边框的距离(上右下左)*/
    -fx-padding: 2 15 2 15;
    -fx-font-size: 16px;
    /*提示文字填充颜色*/
    -fx-prompt-text-fill: rgba(109, 105, 92, 0.49);
    /*文字选中背景填充颜色*/
    -fx-highlight-fill: rgba(0, 136, 255, 0.62);
    /*文字选中填充颜色*/
    -fx-highlight-text-fill: #0a0a0a;
    -fx-text-fill: #0a0a0a;
    /*-fx-text-fill: transparent;*/
}
