/*css选择器中,大于号表示:选择指定类的直接子元素,而空格表示:选择指定类的后代元素,包括子元素和子元素的子元素,选择范围更大,逗号表示:选择多个元素*/
.status-bar {
    -fx-padding: 4px;
    -fx-pref-height: 30px;
    -fx-background-color: rgba(211, 211, 211, 0), -fx-body-color;
    -fx-background-insets: 0, 1;
    -fx-wrap-text: true;
}

.status-bar > .status-label {
    -fx-font-family: "Bodoni MT";
    -fx-text-color: red;
    -fx-wrap-text: true;
    -fx-text-fill: yellow;
}

.jfx-snackbar-layout {
    -fx-background-color: rgba(0, 128, 0, 0.85);
    -fx-alignment: center;
    -fx-background-insets: 5, 0, 0, 0;
}

.jfx-snackbar-toast {
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

.jfx-tree-view, .tree-cell {
    /*不显示TreeView选中中的蓝色方框*/
    -fx-background-insets: 0;
    /*-fx-background-color: transparent;*/
    /*-fx-control-inner-background: transparent;*/
}

.tree-cell:expanded, .tree-cell {
    /*-fx-background-color: #404040 ;*/
}

.tree-cell:selected {
    /*TreeCell选中时,字体加粗*/
    -fx-font-weight: bold;
}

.tree-cell {
    /*-fx-padding: 0.75em 0em 0.75em 0em ;*/
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 0.1em 0 0.1em;
}



.text-area {
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-font-family: Consolas;
    /*内边距,SQL与边框的距离(上右下左)*/
    -fx-padding: 2 15 2 15;
    -fx-font-size: 16px;
    /*提示文字填充颜色*/
    -fx-prompt-text-fill: rgba(109, 105, 92, 0.49);
    /*文字选中背景填充颜色*/
    -fx-highlight-fill: rgba(0, 136, 255, 0.62);
    /*文字选中填充颜色*/
    -fx-highlight-text-fill: #0a0a0a;
    -fx-text-fill: #0a0a0a;
    /*-fx-text-fill: transparent;*/
}

.table-row-cell:empty {
    /*不显示空行,空行背景色透明*/
    -fx-background-color: transparent;
}

TableViewPane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}



.table-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.text-field:focused {
    /*-fx-border-color: transparent;*/
    /*-fx-focus-color: transparent;*/
    /*-fx-faint-focus-color: transparent;*/
    /*-fx-focus-border-width: 0;*/
    /*-fx-border-width: 0;*/
    /*-fx-background-insets: 0;*/
    /*-fx-focus-traversable: false;*/
}

/*.text-field{*/
/*    -fx-background-insets: 0;*/
/*    -fx-border-width: 10;*/
/*    -fx-border-color: -fx-background-color;*/
/*}*/

/*.tab{*/
/*!*设置tab标题与边框的距离*!*/
/*-fx-padding: 2px,2px,2px,2px;*/
/*}*/

/**
 *-fx-background-insets属性指定了背景填充区域四周的边距,接受Insets对象,有四个参数分别对应上右下左
 *这个属性通常用来控制控件的内边距和背景填充的大小
 */
.scroll-pane {
    /*去除scrollPane点击边框*/
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.abstractTab {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: white;
    /*设置子节点间距*/
    -fx-spacing: 0;
}

/**
 * 设置ScrollPane背景色为透明必须设置到viewport类上
 */
.abstractTab .scroll-pane > .viewport {
    -fx-background-color: white;
}

.tab-header-area {
    -fx-padding: 0;
}

.tool-bar {
    /*-fx-background-color: #F8F8F8;*/
    -fx-border-color: transparent;
}

/*Tab栏背景色*/
.tab-header-area .tab-header-background {
    -fx-background-color: white;
}

/*Tab标题位置未选中时背景色*/
.tab-header-area .headers-region {
    -fx-background-color: #F8F8F8;
}

/*Tab标题位置选中时背景色*/
.tab-header-area .headers-region:selected {
    -fx-background-color: #F0F0F0;
}

.tab-header-area .headers-region:hover {
    -fx-background-color: #F8F8F8;
}

.tab-header-area .headers-region .tab {
    -fx-border-color: transparent #F0F0F0 transparent transparent;
    -fx-background-radius: 0;
}

/*取消Tab被选中时的蓝色边框*/
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

/*.split-menu-button .arrow-button {*/
/*    -fx-background-color: transparent ;*/
/*    -fx-border-width: 0;*/

/*}*/
/*.split-menu-button .menu-button {*/
/*    -fx-background-color: transparent;*/
/*    -fx-border-width: 0;*/
/*}*/

/*.split-menu-button .menu-button .label {*/
/*    -fx-background-color: transparent;*/
/*}*/

/*.split-menu-button .menu{*/
/*    -fx-background-color: blue;*/
/*}*/

/*.split-menu-button .menu-item {*/
/*    -fx-background-color: blue;*/
/*}*/

/*.split-menu-button .button {*/
/*    -fx-background-color: blue;*/
/*}*/

/*.split-menu-button .menu-bar {*/
/*    -fx-background-color: blue;*/
/*}*/